[Desktop Entry]
Type=Application
Version=1.0
Name=Araf_OS Calamares Installer
Name[da]=Araf_OS Installer
GenericName=Installer
GenericName[da]=installationsprogram
Comment=Install the operating system to disk
Comment[da]=Installer styresystemet på disk
Comment[de]=Araf_OS installieren
Exec=/usr/bin/calamares_polkit %f
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
